# Inferential statistics
## Part III - Inferential Analysis

We're now going to look for answers to the ongoing basketball discussions between you and your family. The main ones we want to reasearch are the following:

- Your grandmother says that your sister couldn't play in a professional basketball league (not only the WNBA, but ANY professional basketball league) because she's too skinny and lacks muscle.
- Your sister says that most female professional players fail their free throws.
- Your brother-in-law heard on the TV that the average assists among NBA (male) and WNBA (female) players is 52 for the 2016-2017 season. He is convinced this average would be higher if we only considered the players from the WNBA.

Let's investigate these claims and see if we can find proof to refute or support them.

### Libraries
Import the necessary libraries first.

In [1]:
# Libraries
import math
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
from scipy.stats import ttest_1samp
pd.set_option('display.max_columns', 50)

### Load the dataset

Load the cleaned dataset.

In [3]:
#my cleaned dataset

wnba = pd.read_csv("/content/1_Data_Cleaning_wnba_cleaned.csv")
wnba.head()

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,Aerial Powers,DAL,F,183,71.0,21.200991,US,"January 17, 1994",23,Michigan State,2,8,173,30,85,35.3,12,32,37.5,21,26,80.8,6,22,28,12,3,6,12,93,0,0
1,Alana Beard,LA,G/F,185,73.0,21.329438,US,"May 14, 1982",35,Duke,12,30,947,90,177,50.8,5,18,27.8,32,41,78.0,19,82,101,72,63,13,40,217,0,0
2,Alex Bentley,CON,G,170,69.0,23.875433,US,"October 27, 1990",26,Penn State,4,26,617,82,218,37.6,19,64,29.7,35,42,83.3,4,36,40,78,22,3,24,218,0,0
3,Alex Montgomery,SAN,G/F,185,84.0,24.543462,US,"December 11, 1988",28,Georgia Tech,6,31,721,75,195,38.5,21,68,30.9,17,21,81.0,35,134,169,65,20,10,38,188,2,0
4,Alexis Jones,MIN,G,175,78.0,25.469388,US,"August 5, 1994",23,Baylor,R,24,137,16,50,32.0,7,20,35.0,11,12,91.7,3,9,12,12,7,0,14,50,0,0

# Question 1: Can my sister play in a professional female basketball league?

As we said, you grandmother is convinced that your sister couldn't play in a professional league because of her physique and weight (her weight is 67kg).

To find an actual answer to the question we first need to know what's the average weight of a professional female basketball player. The data we have only refers to the WNBA league and not to every female professional basketball league in the world, therefore we have no way of actually calculating it.

Still, given that we do have *some* data we can **infer** it using a sample of players like the one we have.

**How would you do it? Try and think about the requirements that your sample must satisfy in order to be used to infer the average weight. Do you feel it actually fulfills those requirements? Do you need to make any assumptions? We could calculate a confidence interval to do the inference, but do you know any other ways?**

In [ ]:
#1. My Hypothesis are bad written (?)

# H0: The weight mu for a professional female basketball player is ----> greater than or equal to 67.
# H1: The sister's weight is an obstacle and she will never fulfill her dream because she's too skinny -----> less than 67.

# sample
sample_weight = wnba["Weight"]

st.ttest_1samp(sample_weight, 67, alternative = "less")

TtestResult(statistic=12.981385575989545, pvalue=1.0, df=141)

In [ ]:
# to answer the question:

stats = st.ttest_1samp(sample_weight, 67, alternative = "less")[0]
p_value = st.ttest_1samp(sample_weight, 67, alternative = "less")[1]

if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

I can not reject the null hypothesis

**Now that all the requirements have been taken into account, compute the confidence interval of the average weight with a confidence level of 95%.**

In [ ]:
# from houses near/far

# 1. We need a sample
# 2. the mean of the sample
# 3. number observations
# 4. The std of the population

# 1.
sample_weight = wnba["Weight"]

# 2. sample mean
mean = wnba["Weight"].mean()

# 3. print(sample_weight.count())
n = 142

# 4.
std = wnba["Weight"].std()

# now we can build our 95% interval
print("left end: ", mean - 2*(std/np.sqrt(n-1)))
print("right end: ", mean + 2*(std/np.sqrt(n-1)))

left end:  77.1267941385151
right end:  80.83095234035815

**What can you say about these results?**

In [ ]:
""" with left end:  77.1267941385151 and right end:  80.83095234035815 and with 95% confidence, we can estimate - with wbna sample - that the true average
weight for female players is between these values.

From this interval, maybe granny is a little right because her weight is actually significantly different from the average weight.
STILL, it's a sample and weight is not decisive, in my opinion

**If your sister weighs 67kg what would you tell your grandmother in regards to her assumption?**

In [ ]:
# we know the drill: mothers(grannies) are always right <3 :)

## Bonus: Can you plot the probability distribution of the average weight, indicating where the critical region is?

# Question 2: Do female professional basketball players fail the majority of their free throws?

You do not agree with your sister when she says that most female players fail their free throws. You decide to try and estimate the percentage of players that fail more than 40% of their free throws using, you guessed it, the WNBA sample.

**How would you do it? Try and think about the requirements that your sample must satisfy in order to be used to infer the proportion of players that miss more than 40% of their free throws. Do you feel it actually fulfills those requirements? Do you need to make any assumptions?**

In [ ]:
wnba.shape

(142, 32)

In [ ]:
wnba

In [ ]:
# H0: Players in wnba fail less than 40% of their free throws -------- > fails <= 40% p = 0.6
# H1: Players in wnba that fail more than 40% of their free throws --- > fails > 40%

# Your sister says that most female professional players fail their free throws.
FT_percentage = (wnba["FTM"] / wnba["FTA"]) * 100 # this is in total of course.
print("The mean percentage of success in free throws is:",FT_percentage.mean())  # so let's check it out:

The mean percentage of success in free throws is: 78.59271907346114

In [ ]:
## The sample proportion is then: P = M/N
successes = wnba["FTM"].sum()
sample = wnba["FTA"].sum()

## Sample proportion :
sample_p = successes/ sample  #### djius.. this is points / attempts
sample_p

## N = sample
n = len(wnba["FTA"]) # dunno... this is all players

# to get the standard error
std_error = np.sqrt(sample_p * (1 - sample_p) / n) ##### ddof = 1 ???
std_error

# the mean --- >  μˆP = p # so the proportion of successes will actually work as my mean ---- i think so

**Now that all the requirements have been taken into account, compute the confidence interval of the proportion with a confidence level of 95%:**

In [5]:
conf_at_95 = st.norm.interval(0.95, loc = sample_p, scale = std_error)
left_end = conf_at_95[0]
right_end = conf_at_95[1]

**What can you comment about our result? What would you tell your sister?**

In [6]:
# actually players in wnba fail less than 40% of their free throws
print("wnba players fail betwenn", (1 - right_end)*100,"% and",(1 - left_end)*100,"%")

wnba players fail betwenn 13.425935687396995 % and 26.585463571651157 %

# Bonus: Can you plot the probability distribution of the proportion of missed free throws, indicating where the critical region is?

In [ ]:
#your code here

# Question 3: Is the average number of assists for WNBA players only higher than the average for WNBA and NBA players together?

Your brother-in-law is convinced that the average assists for female professional players is higher than the average of both female and male players combined (which is 52 for the 2016-2017 season). You would like to actually prove if this is true or not but you remember your stats teacher saying "you can't *prove* anything, you just can say that *you are not* saying foolishness".

**How would you do it? Try and think about the requirements that your sample must satisfy in order to do that. Do you feel it actually fulfills those requirements? Do you need to make any assumptions?**

In [24]:
ast_mean = wnba["AST"].mean()
print("The mean of assists in wnba is:",ast_mean.mean())  # so let's check it out:

The mean of assists in wnba is: 44.514084507042256

**Use a two-tailed one-sample t-test to see if we can reject (or not) the null hypothesis with a 95% confidence level.**

In [37]:
# 1.
# H0: mu female assists = 52
# H1: mu female assists != 52

# 2. significance level
alpha = 0.05

# sample
ast_sample = wnba["AST"]#.sample(30) should I sample?

# for stats and p
st.ttest_1samp(ast_sample, 52, alternative = "two-sided") # equal is actually default, but like this, looks like I'm inteligent :D

TtestResult(statistic=-2.1499947192482898, pvalue=0.033261541354107166, df=141)

In [39]:
stats, p_value = st.ttest_1samp(ast_sample, 52, alternative = "two-sided")
print(p_value)
print(stats)

if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

0.033261541354107166
-2.1499947192482898
We can reject the null hypothesis

In [ ]:
# Because p_value is lower than significance level ---> sure we know that the null has to go

**Now use a one-tailed one-sample t-test to see if we can reject (or not) the null hypothesis with a 95% confidence level.**

In [41]:
# H0: mu female assists <= 52
# H1: mu female assists > 52

stats, p_value = st.ttest_1samp(ast_sample, 52, alternative = "greater")
print(p_value)
print(stats)

if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

0.9833692293229463
-2.1499947192482898
I can not reject the null hypothesis

# Bonus: Can you plot the resulting t-distribution of both tests? Indicate where the is the critical region and where does your statistic fall.**

In [ ]:
#your code here

# Bonus: Satisfying your curiosity

You finally managed to solve your family's debates over basketball! While you were doing that you started to take an interest in the normal distribution.

You read that the normal distribution is present in a lot of natural phenomenons, like blood pressure, IQ, weight and height. If, for example, we could plot the distribution of the weights of every human on the planet right now it would have the shape of a normal distribution.

In light of this you would like to see if it's possible to check if the distribution of the weights of the WNBA players is a sample distribution that comes from a population that has a normal distribution, because theoretically this should be the case.

**How would you try to demonstrate that our sample fits a normal distribution? What kind of test would you use? Would you have to make any assumptions?**

In [ ]:
#your-answer-here

In [ ]:
# your code here

**What are your comments in regards to the results of the test?**

In [ ]:
#your-answer-here